

body { 
background-color:8f5195;
font-family: "Protest Guerrilla", sans-serif;
font-size: 18px;
color: black;
padding: 0%;
margin:0%;
}
h1{
background-color:bc76c2;
font-weight: normal;
font-family: "Protest Guerrilla", sans-serif;
font-size: 500%;
text-transform: Uppercase;
text-decoration: none;
color:black;
}




p{
font-family:  "Protest Guerrilla", sans-serif;
font-weight: normal ;
font-size: 250% ;
color: black ;
text-transform: Uppercase ;
text-decoration: none ;
}

nav ul li 
{
	
}
header 
{

width: ;
height: ;
padding: ;
margin: ;
background-color:bc76c2;
	
}
 nav 
 {
background-color:8f5195;





img.imgSize
{
	width: auto;
	height: 100px;
	margin: 10px;
}

img.imgLg
{
	width: auto;
	height: 400px;
	margin: 30px;
}




 

